@{
    ViewBag.Title = "Delete User";
}
<div class="card container" id="deleteConfirm">
    <h5 class="card-title"><span class="alert alert-danger">Warning!</span> You are about to delete your acccount. All associated data will be lost</h5>

    <p class="card-subitle">Are you sure you want to delete your account @User.Identity.Name? This cannot be undone</p>

    @using (Html.BeginForm("DeleteUser", "Manage", new { userName = User.Identity.Name }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to account", "Index")
        </div>
    }
</div>