
button {
    float: right;
    margin-right: -6%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/********** Custom **********/

/*Universal*/
body {
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #fed136;
}

.textbox {
    font-size: 14px !important;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: black;
}

    a:hover,
    a:focus,
    a:active,
    a.active {
        color: #fec503;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.intro-lead-in {
    margin: 0;
}

.table-hover:hover {
    color: #fec503;
}

.iconBtn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-custom {
    color: black !important;
    background-color: #fed136 !important;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 1.5px;
    font-size: 14px;
}

.btn-xl {
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    color: black;
    background-color: #fec503;
    border-color: #f6bf01;
}

.form-control {
    font-size: 14px !important;
}

th {
    font-size: 16px !important;
}

td {
    font-size: 12px !important;
}

.rating-xs {
    font-size: 16px;
}

.small {
    font-size: 11px !important;
}

/*Navbar*/

#mainNav {
    background-color: #222222;
    border-color: transparent;
}

    #mainNav .navbar-brand {
        color: #fed136;
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    }

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #fec503;
}


#mainNav .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

    #mainNav .navbar-toggle:hover,
    #mainNav .navbar-toggle:focus {
        background-color: #fed136;
    }

#mainNav .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

    #mainNav .nav li a:hover,
    #mainNav .nav li a:focus {
        color: #fed136;
        outline: none;
    }

#mainNav .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #fed136;
}

    #mainNav .navbar-nav > .active > a:hover,
    #mainNav .navbar-nav > .active > a:focus {
        color: white;
        background-color: #fec503;
    }

.white-custom,
.white-custom a {
    color: #fff;
}

.contrast {
    color: blue !important;
}

.userInput {
    display: flex;
    margin-left: 35%;
    margin-top: 4.6%;
    color: white;
}

#searchInput {
    background-color: Transparent;
    border: none;
    color: white;
}

/*manage*/
#registerForm {
    margin-top: 7%;
}

.card {
    padding: 2%;
    margin-top: 7%;
}

#deleteConfirm {
    margin-top: 7%;
}

#deleteConfirm p {
    margin-top: 5%;
}

/* index */

#stats h4 {
    margin-bottom: 2%;
}

#stats p {
    display: inline;
    padding: 2%;
}

#stats .card-body {
    text-align:center;
}

#searchBook {
    padding: 2%
}

#searchBook .btn {
    padding: 5px;
}

#overview {
    margin-top: 2%;
}

/*details*/
#bookDetails p {
    margin-left: 1.5%;
}

/*delete book*/

#deleteHeading {
    margin-top: 50px;
}

#deleteBookConfirm .form-actions {
    margin-left: 0.9%;
}

/* Login */

#loginForm {
    margin-top: 2%;
    padding: 2%;
}

#loginForm p {
    margin-top: 4%;
    margin-left: 13.5%;
}
/*Search section ----------------------------------------------------------------*/

#search {
    padding: 2%;
}

    #search h2 {
        margin-bottom: 2%;
    }
#results .card {
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 32%;
    height: 350px;
}

#results .wrapper {
    position: relative;
}

#searchControls {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 2%;
    margin-top: 3%;
}

.list-group-item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    margin-top: 4%;
}

#bookInfo {
    margin-left: 40%;
}

    #results a {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 95%;
    }

/* Edit */

#editCard {
    padding: 2%;
    position: relative;
}

#editCard .control-label {
    margin-top: 1.5%;
}

#editCard .form-control {
    margin-left: 1.5%;
}

/*Responsive--------------------------------------------------------*/

@media (max-width: 1200px) {
    .list-group-item img {
        width: 108px;
    }
}

@media (max-width: 992px) {
    /*login*/
    #loginForm p {
        margin-left: 2%;
    }

    button {
        margin-right: 0;
    }

    /*edit*/

    #editCard img {
       position: absolute;
       right: 0;
       top: 0;
       margin-right: 5%;
       margin-top: 10%
    }

    /*search*/
    #results .card {
        width: 45%;
        height: 250px;
    }

    .list-group-item img {
        width: 128px;
    }

    #bookInfo {
        float: right;
        margin-right: 2%;
    }
}



@media (max-width: 768px) {
    #mainNav .nav li a {
        margin-left: 2%;
    }

    #searchInput {
        margin-left: -30%;
    }

    #registerForm {
        margin-top: 10%;
    }
}


@media (max-width: 720px) {
    #editCard img {
        margin-top: 15%
    }
    /*search*/
    .list-group-item img {
        width: 120px;
    }
}

@media (max-width: 576px) {
    #editCard img {
        display: none;
    }
    #registerForm {
        margin-top: 15%;
    }

    #results .card {
        width: 100%;
    }
}

@media (max-width: 336px) {
    #results .card {
        height: 220px;
        margin-bottom:5%;
    }


    .list-group-item img {
        display: none;
    }

    #bookInfo {
        margin-right: 50%;
    }
}
