@model MyReads.Models.Books

@{
    ViewBag.Title = "Create";
}

<div class="container">

    <div class="form-horizontal">
        <h4>Add Books</h4>
        <!-- Search result Section -->
        <section id="search">
            <h2 class="text-center">Search results</h2>
            <div class="container">
                <!-- display searched books -->
                <div id="results" class="card-group list-group col-md-12"></div>
            </div>
        </section>
    </div>


    <div>
        @Html.ActionLink("Back to List", "Index", "Books", new { userName = User.Identity.Name }, new { @class = "" })
    </div>

</div>